/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}
body main {
  padding: 5vw;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #222;
  transition: transform 0.05s ease-in-out;
}
a:hover {
  opacity: 0.7;
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

button {
  outline: none;
  border: 1px solid #222;
  background-color: #fff;
  padding: 0.7vmin;
  border-radius: 0.5vh;
  transition: transform 0.05s ease-in-out;
  margin-top: 1.5vh;
}
button:hover {
  opacity: 0.7;
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}
button:active {
  opacity: 0.5;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
form button {
  border: 2px solid #222;
}
form label {
  width: 90%;
  text-align: left;
}
form input {
  width: 90%;
}
form select {
  width: 90%;
}

input {
  margin: 0.5vh 0 1vh;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 0.5vmin;
  box-sizing: border-box;
  outline: none;
  color: #666;
}
input:focus {
  border-bottom: 2px solid #222;
  color: #222;
}

select {
  background: #fff;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  padding: 0.5vmin;
  margin: 0.5vh 0 1vh;
  box-sizing: border-box;
}

#btn-show-add-form {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  font-size: 2vh;
  border: 2px solid #222;
}

#btn-hide-add-form {
  margin: 0;
  border: 2px solid #222;
}

.add-form {
  display: none;
}

.show-add-form {
  display: flex;
}

.add-form {
  align-items: flex-end;
  width: 90%;
  padding: 2vmin;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 2px solid #222;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.5vh;
}
.add-form .form-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 1vh;
  border-bottom: 0.1vh solid #ddd;
}
.add-form .form-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1vh;
}
.add-form .form-wrapper div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add-form .form-wrapper #add-form-student-hide-box,
.add-form .form-wrapper #add-form-teacher-hide-box {
  display: none;
}

.main-footer {
  text-align: center;
  padding: 1vw;
  border-top: 0.1vh solid #ddd;
}
.main-footer h6 {
  font-size: 1.75vh;
}

.navigation-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw;
  background-color: #fff;
  height: 3vh;
  text-transform: uppercase;
  border-bottom: 0.1vh solid #ddd;
}
.navigation-header a {
  font-size: 1.5vh;
}
.navigation-header h2 {
  font-size: 2.25vh;
}
.navigation-header .menu a {
  padding: 0 1vw;
}
.navigation-header .show-menu-btn, .navigation-header .hide-menu-btn {
  display: none;
}
.navigation-header #chk {
  visibility: hidden;
  pointer-events: none;
}

@media all and (max-width: 800px) {
  .navigation-header {
    padding: 2vw;
  }
  .navigation-header h2 {
    font-size: 2.5vh;
  }
  .navigation-header a {
    font-size: 2vh;
  }
  .navigation-header .menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
  }
  .navigation-header .menu a {
    padding: 1vh 0;
  }
  .navigation-header .show-menu-btn, .navigation-header .hide-menu-btn {
    display: block;
    color: #222;
    font-size: 2.5vh;
    transition: transform 0.05s ease-in-out;
  }
  .navigation-header .show-menu-btn:hover, .navigation-header .hide-menu-btn:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
  }
  .navigation-header .hide-menu-btn {
    position: absolute;
    top: calc(3.75vh / 2);
    right: 2vw;
  }
  .navigation-header #chk:checked ~ .menu {
    right: 0;
  }
}
