form
  display: flex
  align-items: center
  justify-content: space-around
  flex-direction: column

  label
    width: 90%
    text-align: left
    font-size: 2vh

  input
    width: 90%

  select
    width: 90%
    