input
  margin: .5vh 0 1vh
  border: none
  border-bottom: 2px solid #ddd
  padding: .5vmin
  box-sizing: border-box
  outline: none
  color: #666

  &:focus
    border-bottom: 2px solid #222
    color: #222