.navbar-brand {
	letter-spacing: 1px;
}

.glowna-stopka {
	text-align: center;
	color: #fff;
}

.glowna-stopka h6 {
	margin: 10px 0;
}


/*---------------------------TYMCZASOWO---------------------------*/
table {
	width: 85%;
	margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
