.navbar-brand {
	letter-spacing: 1px;
}

.glowna-stopka {
	text-align: center;
	color: #fff;
}

.glowna-stopka h6 {
	margin: 10px 0;
}

main {
	padding: 100px 0;
}

.table {
	text-align: center;
	font-size: .7em;
}
